html {
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  width: 100%;
}

.header {
  display: flex;
  padding: o 50px;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  color: #000;
  text-decoration: none;
}

.nav {
  line-height: 60px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list :first-child {
  margin-left: 0;
}

.nav_item {
  display: inline-block;
  margin-left: 20px;
}

.link:hover {
  text-decoration: none;
  color: #000;
}

.img {
  display: block;
  height: 40px;
  width: 40px;
}

.is-active {
  color: #00acdc;
  position: relative;
}

.is-active ::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: #00acdc;
  bottom: 0;
}

.contaner {
  flex-direction: row;
}